@model IEnumerable<PassionProjectTwo.Models.WoWClass>

@{
    ViewBag.Title = "List";
}

<h2>Classes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassSpec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassPic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicExtension)
        </th>
        <th></th>
    </tr>

@foreach (var WoWClass in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => WoWClass.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => WoWClass.ClassSpec)
        </td>
        <td>
            <div class="record">
                <div class="_record">
                    @{ 
                        //using server rendering to determine images
                        string pic = "/Content/Classes/default.png";
                        string alt = "No profile picture provided";
                        if (WoWClass.ClassPic)
                        {
                            pic = "/Content/Classes/" + WoWClass.ClassName + "." + "png";
                            alt = "Class Icon of " + WoWClass.ClassName;
                        }
                    }
                </div>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => WoWClass.PicExtension)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=WoWClass.ClassID }) |
            @Html.ActionLink("Details", "Details", new { id=WoWClass.ClassID }) |
            @Html.ActionLink("Delete", "Delete", new { id=WoWClass.ClassID })
        </td>
    </tr>
}

</table>
